.About_Page {
  background-color: brown;
  width: 100vw;
  height: 100vh;
  margin: 0;
  margin-right: 0;
}

.Content_Column {
  height: 100vh;
  background-color: burlywood;
}

.Content_Logo {
  padding-top: 8vh;
  height: 28vh;
}
.Content_About {
  height: 60vh;
}
.Content_Contact {
  height: 12vh;
  padding-bottom: 5vh;
}
