.Nav {
  color: #f7f0f5;
  height: 8vh;

  background-color: rgb(26, 0, 41);
}

.Nav_Menu {
  padding: 1.5vh;
}

.Nav_Row {
  color: #f7f0f5;
  height: 8vh;

  background-color: #32292f;
  box-shadow: 0px 3px 0px 3px rgba(0, 0, 0, 1);
}
