.UserIcon {
  border: 1px solid black;
  border-radius: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 5.5vh;
  min-width: 5.5vh;

  position: relative;
}

.UserStatusIcon-online {
  border: 1px solid black;
  border-radius: 50%;
  height: 2vh;
  width: 2vh;
  background-color: greenyellow;

  position: absolute;
  bottom: 0;
  right: 0;
}

.UserStatusIcon-busy {
  border: 1px solid black;
  border-radius: 50%;
  height: 2vh;
  width: 2vh;
  background-color: rgb(255, 234, 47);

  position: absolute;
  bottom: 0;
  right: 0;
}

.UserStatusIcon-offline {
  border: 1px solid black;
  border-radius: 50%;
  height: 2vh;
  width: 2vh;
  background-color: rgb(59, 59, 59);

  position: absolute;
  bottom: 0;
  right: 0;
}

.VerticalAlign {
  min-height: 100%;

  display: flex;
  align-items: center;
}

.UserInfo {
  display: inline;
  padding-left: 3px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.Username {
  overflow: hidden;
  text-overflow: ellipsis;
}

.UserActivity {
  overflow: hidden;
  text-overflow: ellipsis;
  color: #6b717e;
}
